@model ConferenceApp.Models.Sponsor

@{
    ViewData["Title"] = "Eliminar patrocinador";
}

<h1>Eliminar patrocinador</h1>

<div>
    <h4>Patrocinador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Ver todos</a>
    </form>
</div>
