@model ConferenceApp.Models.FeedbackScope

@{
    ViewData["Title"] = "Editar evaluación";
}

<h1>Editar Evaluación</h1>

<h4>Evaluar "@ViewBag.Event.Name"</h4>
<div>
    <a asp-action="Details" asp-controller="Event" asp-route-id="@ViewBag.Event.Id">Volver al evento</a>
</div>
<div>
    <a asp-action="Details" asp-controller="Feedback" asp-route-id="@ViewBag.FeedbackId">Volver a la evaluación</a>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="FeedbackId" value=@ViewBag.FeedbackId />
            <input type="hidden" asp-for="FeedbackCategoryId" value=@ViewBag.Category.Id />
            <div class="form-group">
                <label asp-for="Grade" class="control-label">Nota para @ViewBag.Category.Name</label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
