@model ConferenceApp.Models.MenuOption

@{
    ViewData["Title"] = "Nuevo Plato";
}

<h1>Nueva opción de menú</h1>

<h4>Info</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre del plato</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodServiceId" class="control-label">Comida</label>
                <select asp-for="FoodServiceId" class ="form-control" asp-items="ViewBag.FoodServices"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar opción" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
