@model ConferenceApp.Models.Event

@{
    ViewData["Title"] = "Create";
}

<h1>Crear un evento</h1>

<h4>Info</h4>
<hr />
Elige un tipo de evento
<br/>
<div class="btn-group btn-group-justified">
    <a asp-controller="Talk" asp-action="Create" asp-route-conferenceVersionId="@ViewBag.ConferenceVersionId" class="btn btn-info">Charla</a>
    <a asp-controller="PracticalSession" asp-action="Create" asp-route-conferenceVersionId="@ViewBag.ConferenceVersionId" class="btn btn-info">Sesión práctica</a>
    <a asp-controller="Chat" asp-action="Create" asp-route-conferenceVersionId="@ViewBag.ConferenceVersionId" class="btn btn-info">Chat</a>
    <a asp-controller="FoodService" asp-action="Create" asp-route-conferenceVersionId="@ViewBag.ConferenceVersionId" class="btn btn-info">Comida</a>
    <a asp-controller="Event" asp-action="Index" class="btn btn-info">Fiesta</a>
</div>
<hr/>
<div>
    <a asp-action="Index">Ver todos los eventos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
