@model ConferenceApp.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <h4>Index Eventos</h4>
    <h4>Index Conferencia</h4>
    <h4>Show Eventos</h4>
    <h4>Show Conferencia</h4>
    <h4>Edit Evento</h4>
    <h4>Edit Conferencia</h4>
    <h4>Crear Conferencia</h4>
    <h4>Crear Sala de Eventos</h4>
    <h4>Crear Sala</h4>
    <a asp-action="Index">Back to List</a>
</div>

