@model ConferenceApp.Models.Feedback

@{
    ViewData["Title"] = "Nueva Evaluación";
}

<h1>Nueva Evaluación</h1>

@if (@ViewBag.Event != null)
{
    <h4>Evaluar "@ViewBag.Event.Name"</h4>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Message" class="control-label">Mensaje</label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventId" class="control-label">Evento</label>
                <select asp-for="EventId" class ="form-control" asp-items="ViewBag.Events"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (@ViewBag.Event != null)
{
    <div>
        <a asp-action="Details" asp-controller="Event" asp-route-id="@ViewBag.Event.Id">Volver al evento</a>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
