@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Calendar</h1>
</div>
<hr/>
<div>
    <a asp-controller="Conference" asp-action="Create">Create Conferences</a>
    <br/>
    <hr/>
    <h6>Buscar</h6>

    <a asp-controller="Conference" asp-action="Index">Listado de Conferencias</a> |
    <a asp-controller="Conference" asp-action="Details" asp-route-id="1">Una conferencia</a>
    <hr/>

    <br/>
    <h6>Las que participaré y hacia buscar</h6>
    <a asp-controller="ConferenceVersion" asp-action="Index">Listado de Versiones de Conferencias</a> |
    <a asp-controller="ConferenceVersion" asp-action="Details" asp-route-id="1">Una Versión de Conferencia</a>
    <hr/>

    <br/>
    <h6>Los que participaré y hacia buscar</h6>

    <a asp-controller="Event" asp-action="Index">Listado de Mis Eventos</a> |
    <a asp-controller="Event" asp-action="Details" asp-route-id="1">Un Evento en particular</a>
    
    <br/>
    <center><img src="https://sfopera.com/img/icons/calendar.svg" height="200"></center>
</div>
