@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
    <h1 class="display-4">My Calendar</h1>
</div>
<hr/>
<div>
    <a asp-controller="Conference" asp-action="Create">Create Conferences</a>
    <br/>
    <hr/>
    <h6>Buscar</h6>

    <a asp-controller="Conference" asp-action="Index">Listado de Conferencias</a> |
    <a asp-controller="Conference" asp-action="Details" asp-route-id="1">Una conferencia</a>
    <hr/>

    <br/>
    <h6>Las que participaré y hacia buscar</h6>
    <a asp-controller="ConferenceVersion" asp-action="Index">Listado de Versiones de Conferencias</a> |
    <a asp-controller="ConferenceVersion" asp-action="Details" asp-route-id="1">Una Versión de Conferencia</a>
    <hr/>

    <br/>
    <h6>Los que participaré y hacia buscar</h6>

    <a asp-controller="Event" asp-action="Index">Listado de Mis Eventos</a> |
    <a asp-controller="Event" asp-action="Details" asp-route-id="1">Un Evento en particular</a>
    
    <br/>
    <center><img src="https://sfopera.com/img/icons/calendar.svg" height="200"></center>
        <h2>Eventos a Asistir</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Fecha Inicio
                    </th>
                    <th>
                        Fecha Fin
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in ViewBag.eventsToList) {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.StartDate
                    </td>
                    <td>
                        @item.EndDate
                    </td>
                    
                    <td>
                        <a asp-controller="Event" asp-action="Details" asp-route-id="@item.Id">Ver</a>
                    </td>
                    
    
                </tr>
        }
            </tbody>
        </table>
</div>  
}
else {
    <div class="text-center">
        <h1 class="display-4">Welcome to ConferenceApp!</h1>
    </div>
    
    <div style="text-align: center; border: 1px solid; margin: auto; width: 100px">
        <a class="btn-ce" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}