@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <a asp-controller="Conference" asp-action="Index">Conferences</a><br/>
    <a asp-controller="ConferenceVersion" asp-action="Index">Version</a><br/>
    <a asp-controller="EventCentre" asp-action="Index">Event Centres</a><br/>
    <a asp-controller="Sponsor" asp-action="Index">Sponsors</a><br/>
    <a asp-controller="User" asp-action="Index">User Profile</a><br/>
</div>
