@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Calendar</h1>
</div>
<hr/>
<div>
    <a asp-controller="Conference" asp-action="Create">Create Conferences</a><br/>
    <a asp-controller="Conference" asp-action="Index">All my upcoming conferences</a><br/>
    <a asp-controller="Conference" asp-action="Details" asp-route-id="3">Programming Conference</a><br/>
    <h6>Event index en deuda</h6><br/>
    <h6>Event show en deuda</h6><br/>
    <h6>Create event en deuda</h6><br/>
    <h6>If admin link to admin show</h6><br/>
</div>
