@model ConferenceApp.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Sala</h1>

<div>
    <h4>Info</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Capacidad máxima
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxCapacity)
        </dd>
        <dt class = "col-sm-2">
            Equipamiento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipmentDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Ver todas las salas</a>
</div>
