@model ConferenceApp.Models.FoodService

@{
    ViewData["Title"] = "Create";
}

<h1>Nueva Comida</h1>

<h4>Info</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label">Categoría</label>
                <select asp-for="Category" class="form-control" asp-items="ViewBag.CategoryOptions"></select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Inicio</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Fin</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConferenceVersionId" class="control-label">Conferencia</label>
                <select asp-for="ConferenceVersionId" class ="form-control" asp-items="ViewBag.ConferenceVersions"></select>
            </div>
            <div class="form-group">
                <label asp-for="RoomId" class="control-label">Sala</label>
                <select asp-for="RoomId" class ="form-control" asp-items="ViewBag.Rooms"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Event" asp-action="Index">Ver todos los eventos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
