@model ConferenceApp.Models.ConferenceVersion

@{
    ViewData["Title"] = "Nueva Versión de Conferencia";
}

<h1>Create</h1>

<h4>ConferenceVersion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label">Número de Conferencia</label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"> Fecha de Inicio</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Fecha de Termino</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConferenceId" class="control-label">Conferencia</label>
                <select asp-for="ConferenceId" class ="form-control" asp-items="ViewBag.Conferences"></select>
                <span asp-validation-for="ConferenceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventCentreId" class="control-label">Centro de Eventos</label>
                <select asp-for="EventCentreId" class ="form-control" asp-items="ViewBag.eventCentres"></select>
                <span asp-validation-for="EventCentreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a Listado de Versiones de Conferencias</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
